.MainPage {

    .Slider {
        .SliderBox {
            img {
                width: 100%;
            }
        }
    }

    .Section2 {
        padding: 62px 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .TwoLeft {
            gap: 45px;
            display: flex;
        }

        .TwoRight {
            width: 40%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .Best {
                font-size: 40px;
                color: #103349;
            }

            .GoodsName {
                margin-top: 54px;
                margin-bottom: 54px;
                font-size: 36px;
                color: #103349;
            }

            .Explan {
                font-size: 15px;
                margin-bottom: 100px;
                color: #808080;
            }

            button {
                background-color: #25414C;
                padding: 5px 23px;
                color: #C1C1C1;
                border: none;
                cursor: pointer;
            }
        }

        .ThreeRight {
            width: 40%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            .GoodsName {
                margin-top: 54px;
                margin-bottom: 54px;
                font-size: 36px;
            }

            .Explan {
                width: 500px;
                text-align: center;
                font-size: 15px;
                margin-bottom: 100px;
                color: #808080;
            }

            button {
                background-color: #25414C;
                padding: 5px 23px;
                color: #C1C1C1;
                border: none;
                cursor: pointer;
            }
        }
    }

    .Section3 {
        padding: 45px 100px 50px 106px;
        display: flex;
        flex-direction: column;
        gap: 46px;

        .Se3Name {
            font-size: 40px;
            margin-left: 16px;
            color: #103349;
        }

        .Section3_image {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 0px;
        }

        .AddPlus {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            button {
                margin-right: 75px;
                background-color: #25414C;
                padding: 5px 23px;
                color: #C1C1C1;
                border: none;
                cursor: pointer;
            }
        }
    }

    .Section3-1 {
        padding-top: 42px;
        padding-bottom: 92px;

        div {
            text-align: center;
        }

        .Named3-1 {
            font-size: 36px;
            color: #103349;
            margin-bottom: 30px;
        }

        .Explan3-1 {
            color: #808080;
            font-size: 15px;
            line-height: 160%;
        }
    }

    .Section4 {
        padding-top: 40px;
        padding-bottom: 33px;
        background-color: #DBDBDB;

        .SectionName {
            font-size: 40px;
            color: #103349;
            margin-left: 117px;
        }

        .ScrollImage {
            padding-top: 8px;
            padding-bottom: 8px;
            display: flex;
            overflow-x: scroll;
            margin-bottom: 32px;
            margin-top: 61px;
            gap: 8px;
            background-color: #BBBBBB;
        }

        .ScrollImage::-webkit-scrollbar {
            height: 12px;
        }

        .ScrollImage::-webkit-scrollbar-thumb {
            background: #25414C;
            border-radius: 10px;
        }

        .ScrollImage::-webkit-scrollbar-track {
            background: #fff;
        }

        .Add4Section {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                padding: 15px 23px;
                background-color: #25414C;
                color: #C1C1C1;
                font-size: 15px;
                border: none;
                cursor: pointer;
            }
        }
    }
}

.prev {
    position: absolute;
    left: 20px;
    top: 40%;
    z-index: 999;
    cursor: pointer;
}

.next {
    position: absolute;
    right: 20px;
    top: 40%;
    z-index: 999;
    cursor: pointer;
}

.image-container {
    position: relative;

    .image-text {
        position: absolute;
        bottom: -0px;
        left: 50%;
        transform: translate(-50%, -0%);
        transition: opacity 0.3s ease;
        color: #fff;
        font-size: 30px;
        background-color: rgba(0, 0, 0, 0.65);
        width: 100%;
        text-align: center;
        padding-top: 27px;
        padding-bottom: 20px;

        .ImageMenuText {
            font-size: 10px;
            color: #EDEDED;
        }

        .ImageText {
            font-size: 15px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .ImagePointText {
            font-size: 15px;
        }
    }
}

.image-container:hover {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.section4-container {
    position: relative;
    background-color: #E2E2E2;

    .image-text {
        position: absolute;
        bottom: -0px;
        left: 50%;
        transform: translate(-50%, -0%);
        transition: opacity 0.3s ease;
        color: #fff;
        font-size: 30px;
        background-color: rgba(0, 0, 0, 0.65);
        width: 100%;
        text-align: center;
        padding-top: 27px;
        padding-bottom: 20px;

        .ImageMenuText {
            font-size: 10px;
            color: #EDEDED;
        }

        .ImageText {
            font-size: 15px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .ImagePointText {
            font-size: 15px;
        }
    }
}

@include laptop{

    .MainPage{
    .Section2 {
        padding: 62px 80px;
.TwoRight{
    width: 50%;

    .GoodsName{
        font-size: 30px;
    }
}
    }

    .Section3 {
        padding: 45px 40px 50px 40px;

        .Section3_image {
            gap: 20px;
            justify-content: center;
        }
    }
}
}