.Header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #25414C;
    padding-left: 100px;
    padding-right: 100px;
    height: 100px;

    .Logo{
        width: 200px;
        height: 68px;
        background-color: #d9d9d9;
    }

    .Menu{
        gap: 122px;
        display: flex;

        .span{
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
        }
    }

    .MyBox{
        display: flex;
        gap: 21px;
        align-items: flex-start;
        justify-content: center;
        height: 62px;

        .IconsBoxs{
            margin-top: 7px;
        }

        .HeaderImage{
            width: 50px;
            cursor: pointer;
        }
    }
}